# R/RStudio/temp stuff/config
.Rproj.user
.Rhistory
.RData
.Ruserdata
*history
.cache
.config
.local


# Notebook previews & renders
*.nb.html
0*.html
*_files
*_cache
README.html

# Temporary stuff
attic
solutions
